/* =========================
   リセットCSS
========================= */
* {
    /* outline: 1px solid red; */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    list-style: none;
}
h1,h2,h3{
    color: #1F5199;
}
a {
    color: inherit;
    text-decoration: none;
}

button {
    font-family: inherit;
    cursor: pointer;
    border: none;
    background: none;
    outline: none;
}

img {
    display: block;
    max-width: 100%;
}
